
# Documentation - use examples\Generate-the-docs.vbs to create this .html file
TheDocs.html

# shortcuts
*.lnk

# Windows customization
desktop.ini

# compiled libraries
net2com/*.dll

# key files
net2com/*.snk
