
# Documentation - to create the html document, use Generate-the-docs.vbs in "examples\documentation generator"
TheDocs.html

# shortcuts
*.lnk

# Windows customization
desktop.ini

# compiled libraries
*.dll

# key files
*.snk
