WscGuids = Array( "" _
    , "Includer" _
        , "ADCEC089-30DE-11D7-86BF-00606744568C" _
        , "Windows Script Component dependency manager" _
    , "StringFormatter" _
        , "ADCEC089-30DF-11D7-86BF-00606744568C" _
        , "Windows Script Component string formatter" _
    , "VBSApp" _
        , "ADCEC089-30E0-11D7-86BF-00606744568C" _
        , "Windows Script Component utilities standardized for .hta, .vbs, and .wsf" _
    , "EventExample" _
        , "ADCEC089-30E1-11D7-86BF-00606744568C" _
        , "Windows Script Component event example" _
    , "KeyDeleter" _
        , "ADCEC089-30E2-11D7-86BF-00606744568C" _
        , "Windows Script Component registry key deleter" _
    , "VBSPower" _
        , "ADCEC089-30E3-11D7-86BF-00606744568C" _
        , "Windows Script Component wrapper for the VBSPower class" _
)
DllGuids = Array( "" _
    , "EventLogger" _
        , "2650C2AB-1AF8-495F-AB4D-6C61BD463EA4" _
    , "IEventLogger" _
        , "2650C2AB-1BF8-495F-AB4D-6C61BD463EA4" _
    , "SpeechSynthesis" _
        , "2650C2AB-2AF8-495F-AB4D-6C61BD463EA4" _
    , "ISpeechSynthesis" _
        , "2650C2AB-2BF8-495F-AB4D-6C61BD463EA4" _
    , "SynthesizerStateT" _
        , "2650C2AB-2DF8-495F-AB4D-6C61BD463EA4" _
    , "FileChooser" _
        , "2650C2AB-3AF8-495F-AB4D-6C61BD463EA4" _
    , "IFileChooser" _
        , "2650C2AB-3BF8-495F-AB4D-6C61BD463EA4" _
    , "ProgressBar" _
        , "2650C2AB-4AF8-495F-AB4D-6C61BD463EA4" _
    , "IProgressBar" _
        , "2650C2AB-4BF8-495F-AB4D-6C61BD463EA4" _
    , "FormBorderStyleT" _
        , "2650C2AB-4DF8-495F-AB4D-6C61BD463EA4" _
    , "NotifyIcon" _
        , "2650C2AB-5AF8-495F-AB4D-6C61BD463EA4" _
    , "INotifyIcon" _
        , "2650C2AB-5BF8-495F-AB4D-6C61BD463EA4" _
    , "ToolTipIconT" _
        , "2650C2AB-5DF8-495F-AB4D-6C61BD463EA4" _
    , "IconExtractor" _
        , "2650C2AB-6AF8-495F-AB4D-6C61BD463EA4" _
    , "IIconExtractor" _
        , "2650C2AB-6BF8-495F-AB4D-6C61BD463EA4" _
    , "ComEvent" _
        , "2650C2AB-7AF8-495F-AB4D-6C61BD463EA4" _
    , "Admin" _
        , "2650C2AB-8AF8-495F-AB4D-6C61BD463EA4" _
    , "EventLogResultT" _
        , "2650C2AB-8CF8-495F-AB4D-6C61BD463EA4" _
    , "EventLogSourceResult" _
        , "2650C2AB-8DF8-495F-AB4D-6C61BD463EA4" _
    , "IAdmin" _
        , "2650C2AB-8BF8-495F-AB4D-6C61BD463EA4" _
    , "Sandbox" _
        , "2650C2AB-AAF8-495F-AB4D-6C61BD463EA4" _
    , "ISandbox" _
        , "2650C2AB-ABF8-495F-AB4D-6C61BD463EA4" _
    , "FolderChooser" _
        , "2650C2AB-B0F8-495F-AB4D-6C61BD463EA4" _
    , "IFolderChooser" _
        , "2650C2AB-B1F8-495F-AB4D-6C61BD463EA4" _
    , "FolderChooser2" _
        , "2650C2AB-B2F8-495F-AB4D-6C61BD463EA4" _
    , "IFolderChooser2" _
        , "2650C2AB-B3F8-495F-AB4D-6C61BD463EA4" _
    , "Watcher" _
        , "2650C2AB-C000-495F-AB4D-6C61BD463EA4" _
    , "IWatcher" _
        , "2650C2AB-C001-495F-AB4D-6C61BD463EA4" _
    , "Timer" _
        , "2650C2AB-C020-495F-AB4D-6C61BD463EA4" _
    , "ITimer" _
        , "2650C2AB-C021-495F-AB4D-6C61BD463EA4" _
)
