'WARNING:
'If the configFile variable is specified in this file,
'then any other variables in this file are ignored and
'may be safely deleted.
configFile = "%UserProfile%\Windows Updates Pauser.config"
profileName = "My network name" 'network name
srvcType = "wlan" 'options: mbn (Mobile broadband), wlan (Wi-Fi)
userInteractive = True
