 
outputFiles = Array( _
    "fixture\HTAApp.NoIdNoArgs.txt", _
    "fixture\HTAApp.NoIdHasArgs.txt")
Const iOutput_NoIdNoArgs = 0 'array index
Const iOutput_NoIdHasArgs = 1

htaFiles = Array( _
    "fixture\HTAApp.NoIdNoArgs.hta", _
    "fixture\HTAApp.NoIdHasArgs.hta")
Const iHta_NoIdNoArgs = 0
Const iHta_NoIdHasArgs = 1
