configFile = "%UserProfile%\windows updates pauser.config" 'optional; if specified, and the file exists, other variables in this file are overwritten by any variables with the same name in the specified file.
profileName = "My network name" 'network name
srvcType = "wlan" 'options: mbn (Mobile broadband), wlan (Wi-Fi)