'the configFile variable is optional. If it is specified, and it should be specified only in this file,
'then the other variables in this file are overwritten by any variables with the same name in the specified file.
configFile = "%UserProfile%\Windows Updates Pauser.config" 'optional
profileName = "My network name" 'network name
srvcType = "wlan" 'options: mbn (Mobile broadband), wlan (Wi-Fi)
userInteractive = True
