'
'configure for the strong name command (sn); if used, one of the two must be valid; batFile1 takes precedence
batFile1 = "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat" 'Visual Studio Community 2017
batFile2 = "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\VsDevCmd.bat" 'Visual Studio Community 2015

'configure to compile and register using .NET
exeFolder64 = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319"
exeFolder32 = "C:\Windows\Microsoft.NET\Framework\v4.0.30319"
