'
'Configure to compile and register using .NET
'Specify the location(s) of 64- and 32-bit csc.exe and regasm.exe files.
'Each array item with index > 0 should have two folders delimited by |
'the first of which should be the 64-bit folder.
exeFolders = Array( "" _
    , "%SystemRoot%\Microsoft.NET\Framework64\v4.0.30319 | %SystemRoot%\Microsoft.NET\Framework\v4.0.30319" _
)

'If you don't have Visual Studio, then you will be instructed to use /delaysign, not /keyfile,
'and you can ignore the section below; but you won't be able to sign your .dll/.exe

'Configure to use the strong name (sn) command.
'If used, one of values must be valid.
'Values closer to the top take precedence, and
'the first valid (existing) item will be used.
batFiles = Array( "" _
    , "%ProgramFiles(x86)%\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat" _
    , "%ProgramFiles(x86)%\Microsoft Visual Studio 14.0\Common7\Tools\VsDevCmd.bat" _
    , "%ProgramFiles(x86)%\Microsoft Visual Studio 12.0\Common7\Tools\VsDevCmd.bat" _
)
'Microsoft Visual Studio\2017\Community\ => Visual Studio Community 2017
'Microsoft Visual Studio 12.0\ => Visual Studio Community 2013
'Microsoft Visual Studio 14.0\ => Visual Studio Community 2015
