
'If, as expected, these values do not need to be changed, 
'then this file may be deleted.

customViewFile = "VBSEventLoggerCustomView.xml" 'custom view for WSH events
configFolder = "%ProgramData%\Microsoft\Event Viewer" 'eventvwr.msc config
logFile = "Application.evtx" 'event log file that contains WSH events
logFolder = "%SystemRoot%\System32\Winevt\Logs" 'event logs location
